<h1>{{ title }}</h1>
<ul>
  <li *ngFor="let item of users.quotes | keyvalue">
    {{ item.key }}:{{ item.value }}
  </li>
</ul>
<form #usersForm="ngForm" (ngSubmit)="getuserFormData(usersForm.value)">
  <input
    type="text"
    ngModel
    name="name"
    placeholder="enter the name"
  /><br /><br />
  <input
    type="email"
    ngModel
    name="email"
    placeholder="enter your email"
  /><br /><br />
  <input
    type="password"
    ngModel
    name="password"
    placeholder="password"
  /><br /><br />
  <button>submit</button>
</form>
